header,
nav,
tfoot {
    margin-left: 10%;
}

nav>a {
    color: white;
}

nav {
    width: 90%;
}

#logo {
    width: 20%;
    background-size: auto;
    float: left;
}

#login {
    float: right;
}

#titleImg {
    width: 100%;
    height: 400px;
    clear: both;
}


footer {

    margin-left: 10%;
    clear: both;
    width: 100%;
    height: 160px;
    background-color: darkslateblue;
}

.navi :hover {
    color: red;
    /* 버튼위에 커서가 갈때 */
}

.navi :active {
    color: black;
}