/* 전체 */
body {
    margin: 0 auto;
}

header {
    text-align: center;

}

#logo {
    width: 40%;
    margin-top: 5px;
}

#login {
    margin: 5px 0 10px 0;
}

#titleImg {
    display: none;
}

.navi a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

aside img {
    width: 100%;
}

footer {}